* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://source.unsplash.com/Yj1M5riCKk4);
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  font-family: "Orbitron", sans-serif;
}

/* styling of header, each color is it's own layer */
.welcome {
  font-size: 9em;
  text-transform: uppercase;
  position: absolute;
  padding-top: 10%;
  padding-left: 20%;
}

.black {
  color: black;
}

.purple {
  top: 3px;
  left: 3px;
  color: purple;
}

.blue {
  top: 6px;
  left: 6px;
  color: blue;
}

.green {
  top: 9px;
  left: 9px;
  color: green;
}

.yellow {
  top: 12px;
  left: 12px;
  color: yellow;
}

.orange {
  top: 15px;
  left: 15px;
  color: orange;
}

.red {
  top: 18px;
  left: 18px;
  color: red;
}

/* navigation bar styling */
li {
  display: inline-block;
}

a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #d8018c;
  font-size: 1.2em;
}

nav {
  width: 60%;
  position: fixed;
  top: 290px;
  left: 370px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 11px 2px turquoise;
  transition: 2s;
}

/* on hover navigation bar disappears */
nav:hover {
  top: -100px;
  left: -500px;
  transform: scale(0.1);
  transition: 2s;
}

/* styling of the fish */
.fish {
  position: fixed;
  top: 235px;
  left: -500px;
  width: 70%;
  transition: 1s ease-in-out;
}

/* on hover, fish moves to the right */
.fish:hover {
  left: 5px;
  width: 100%;
  transition: 1s ease-in-out;
}

/* styling of the introduction text */
.intro {
  float: right;
  width: 45%;
  margin-top: 350px;
  text-align: justify;
  background-image: linear-gradient(
    red,
    orange,
    yellow,
    green,
    turquoise,
    blue,
    purple
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.intro p {
  padding: 30px;
  line-height: 1.3;
}
